<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="header clearfix">
        <%= link_to "Twitter", messages_path, class: "logo" %>
          <nav>
            <ul class="top_menu">
              <li class="nav_list">ログイン</li>
              <li class="nav_list">アカウント作成</li>
            </ul>
          </nav>
      </header>
      <div class="content">
      <article>
        <% if flash.notice.present? %>
          <div class="alert alert-success">
            <%= flash.notice %>
          </div>
          <% end %>
          <%= yield %>
      </article>
      </div>
      <footer class="footer">
        <p>Copyright © 2020 HOTTA INC. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
